#image{
    width: 50%;
}


.content{
    display: inline-block;
    width: 50%;
}

#heading{
    display:inline-block;
    font-size:40px;
    margin-left:90px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#quote{
    display:inline-block;
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.664);
}
#button{
    margin-top:20%;
    margin-left:-65%;
}